
body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: white;
  margin: 0;
  padding: 20px;
}
button, input {
  padding: 10px;
  margin: 10px;
}
canvas {
  margin-top: 20px;
}
